{
  "proseWrap": "preserve",
  "printWidth": 100,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": false
}
